.ui-autocomplete {
        max-height: 160px;
        width: 403px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
        height: 160px;
}

.appearance(@val) {
    appearance:@val;
    -moz-appearance:@val; /* Firefox */
    -webkit-appearance:@val; /* Safari and Chrome */
}

.box-shadow(@1, @2, @3, @color) {
    -moz-box-shadow: @1 @2 @3 @color;
    -webkit-box-shadow: @1 @2 @3 @color;
    box-shadow: @1 @2 @3 @color;
}

.border-radius(@val) {
    -webkit-border-radius: @val;
    -moz-border-radius: @val;
    border-radius: @val;
}

.background-size(@a, @b) {
    -webkit-background-size: @a @b;
    -moz-background-size: @a @b;
    background-size: @a @b;
}

.rollover_item {
    overflow:auto;
    margin: 10px 0;

    .rollover_crs_title {
        float:left;
        padding: 19px 20px 19px 20px;
        margin-right:2px;
        width: 425px;
        background: #E9FAD0;
        position: relative;
        height: 191px;

        .arrow {
            border-color: transparent #fff transparent transparent;
            border-style: solid;
            border-width: 21px;
            width:0px;
            height:0px;
            position:absolute;
            right: 0px;
            top: 8px;
        }

        h3 {
            font-weight:normal;
            size:18px;
            margin-bottom:0px;
            color: #6e6e6e;
        }

        .rollover_shrt_code {
            padding: 17px 0 7px 0;
            margin: 0px;
            color: #6E6E6E;
            font-size: 13px;

            span {
                font-weight: bold;
            }
        }

        .rollover_desc {
            padding: 10px 0 7px 0;
            margin: 0px;
            color: #6E6E6E;
            font-size: 13px;
            
            span {
                font-weight: bold;
            }
        }
    }
  
    .rollover_crs_from {
        float:left;
        width:425px;
        background: #eee;
        padding: 10px 20px 10px 20px;
        position:relative;
        min-height: 209px;

        .arrow {
            border-color: transparent #eeeeee transparent transparent;
            border-style: solid;
            border-width: 20px;
            width:0px;
            height:0px;
            position:absolute;
            left: -40px;
            top: 9px;
        }

        .rollover_crs_input {
           padding: 9px;
           border: solid 1px #E5E5E5;
           outline: 0;
           background: #fff;
           background-image: none;
           font-size: 14px;
           font-weight: normal;
           color: #6E6E6E;
           width: 405px;
        }

        .rollover_crs_input:focus {
            border-color: #8DA3C6;
        }

        .rollover_crs_submit {
            width:75px;
            height:36px;
            border-color: #E5E5E5;
            border-style: solid;
            border-width: 1px;
            background-color: #fff;
            cursor: pointer;
            color: #6E6E6E;
            font-size: 14px;
            float: right;
        }

        .rollover_advanced_title {
            border-top: 1px solid #E5E5E5;
            margin: 12px 0;
            padding-top: 10px;
            font-weight: normal;
            font-size: 13px;
            color: #6E6E6E;
        }

        .rollover_advanced_options {
            list-style: none;
            margin: 0px;
            overflow: hidden;
            height: 86px;

            .rollover_option_item {
                font-size: 13px;
                color: #6E6E6E;
                margin: 4px 3px 4px 0;
                width: 138px;
                float: left;

                .rollover_checkbox {
                   border: 1px solid #555;
                   background: #fff;
                   background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
                   .appearance(none);
                   .box-shadow( 1px, 1px, 1px, #fff );
                   .border-radius(0.25em);
                   display: inline-block;
                   font-size: 15px;
                   line-height: 1em;
                   margin: 0 5px 0 0;
                   padding: 0;
                   width: 1.25em;
                   height: 1.25em;
                   vertical-align: text-top;
                    
                }

                .rollover_checkbox:checked {
                    background: url('pix/tick.png') no-repeat center center;
                    .background-size(28px, 28px);
                }

                .rollover_checkbox:disabled {
                    border: 1px solid #eee;
                    .box-shadow( 0px, 0px, 1px, #fff );
                }
            }
        }

        .more_advanced_wrap {
            position:absolute;
            bottom: 19px;
            left: 90px;
            width: 200px;
            text-align: center;

            .more_advanced {
                position:relative;
                border-bottom: 1px solid #E5E5E5;
                color: #9A9A9A;
                font-size: 12px;
                cursor: pointer;
                
                .arrow_border {
                    border-color: #DBDBDB transparent transparent transparent;
                    border-style: solid;
                    border-width: 10px;
                    width:0px;
                    height:0px;
                    position:absolute;
                    left: 45%;
                    top: 16px;
                }

                .arrow_light {
                    border-color: #EEE transparent transparent transparent;
                    border-style: solid;
                    border-width: 10px;
                    width:0px;
                    height:0px;
                    position:absolute;
                    left: 45%;
                    top: 15px;
                }
            }

            .more_advanced:hover {
                border-bottom: 1px solid #D4D4D4;
                color: #6E6E6E;
                
                .arrow_border {
                    border-color: #D4D4D4 transparent transparent transparent;
                }
            }
        }
    }

    .pending {
     
       h3 {
            text-align: center;
            padding-top: 100px;
       }
    }

    .error {
        background: #FAD7D7;

        .arrow {
            border-color: transparent #FAD7D7 transparent transparent;
        }

        h3 {
            text-align: center;
            padding-top: 80px;
       }

       p {
            text-align: center;
       }
    }
}