.blockOverlay[style] {
    background: #666 url(scripts/css/ui-lightness/images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat !important;
}

.blockMsg[style] {
    border-width: 1px !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.ui-dialog {
    background: #fff !important;
    border: 1px solid #E3E3E3 !important;
    padding: 0px !important;
}

.ui-dialog .ui-widget-header {
    padding: 0.6em 1em !important;
    background: #efefef;
    border: 1px solid #fff;
    color: #6f6f6f;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.ui-widget-header .ui-icon {
    background-image: url(scripts/css/ui-lightness/images/ui-icons_222222_256x240.png) !important;
}

.ui-widget-header .ui-state-hover {
    background: #c6c6c6 !important;
    border: 1px solid #e3e3e3 !important;
}

.ui-widget-header .ui-state-hover .ui-icon {
    background-image: url(scripts/css/ui-lightness/images/ui-icons_ffffff_256x240.png) !important;
}

.ui-widget-content {
    border: none !important;
    border-top: 1px solid #e3e3e3 !important;
    color: #6f6f6f !important;
}

.ui-dialog .ui-dialog-buttonpane {
    background: #fff !important;
    border: none !important;
    -webkit-border-bottom-right-radius: 4px !important;
    -webkit-border-bottom-left-radius: 4px !important;
    -moz-border-radius-bottomright: 4px !important;
    -moz-border-radius-bottomleft: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.ui-autocomplete {
        max-height: 160px;
        width: 403px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
}



/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
        height: 160px;
}

.appearance(@val) {
    appearance:@val;
    -moz-appearance:@val; /* Firefox */
    -webkit-appearance:@val; /* Safari and Chrome */
}

.box-shadow(@1, @2, @3, @color) {
    -moz-box-shadow: @1 @2 @3 @color;
    -webkit-box-shadow: @1 @2 @3 @color;
    box-shadow: @1 @2 @3 @color;
}

.border-radius(@val) {
    -webkit-border-radius: @val;
    -moz-border-radius: @val;
    border-radius: @val;
}

.background-size(@a, @b) {
    -webkit-background-size: @a @b;
    -moz-background-size: @a @b;
    background-size: @a @b;
}

.blockui_loading{
    padding: 60px 20px 30px;
    background: url('pix/loading.gif') no-repeat center 30px;
}

#dialog_id_from_error,
#dialog_id_to_error,
#dialog_sure{
    display: none;
}

.rollover_item {
    overflow:auto;
    margin: 10px 0;

    .rollover_crs_title {
        float:left;
        margin-right:2px;
        width: 37%;
        padding: 3%;
        background: #E9FAD0;
        position: relative;
        height: 209px;

        .arrow {
            border-color: transparent #fff transparent transparent;
            border-style: solid;
            border-width: 21px;
            width:0px;
            height:0px;
            position:absolute;
            right: 0px;
            top: 8px;
        }

        h3 {
            font-weight:normal;
            size:18px;
            margin-bottom:0px;
            color: #6e6e6e;
        }

        .rollover_shrt_code {
            padding: 17px 0 7px 0;
            margin: 0px;
            color: #6E6E6E;
            font-size: 13px;

            span {
                font-weight: bold;
            }
        }

        .rollover_desc {
            padding: 10px 0 7px 0;
            margin: 0px;
            color: #6E6E6E;
            font-size: 13px;
            
            span {
                font-weight: bold;
            }
        }
    }
  
    .rollover_crs_from {
        float:left;
        width:425px;
        width: 50%;
        background: #eee;
        padding: 3%;
        position:relative;
        

        .helplink{
            /*position: absolute;*/
            /*top: 90px;*/
            /*left: 130px;*/
            float: left;
            margin-top: 15px;
            margin-left: 5px;
        }
        .arrow {
            border-color: transparent #eeeeee transparent transparent;
            border-style: solid;
            border-width: 20px;
            width:0px;
            height:0px;
            position:absolute;
            left: -40px;
            top: 9px;
        }

        .rollover_crs_input {
           padding: 9px;
           border: solid 1px #E5E5E5;
           outline: 0;
           background: #fff;
           background-image: none;
           font-size: 14px;
           font-weight: normal;
           color: #6E6E6E;
           width: 95%;
        }

        .rollover_crs_input:focus {
            border-color: #8DA3C6;
        }

        .rollover_crs_submit {
            width:75px;
            height:36px;
            border-color: #E5E5E5;
            border-style: solid;
            border-width: 1px;
            background-color: #fff;
            cursor: pointer;
            color: #6E6E6E;
            font-size: 14px;
            float: right;
        }

        .rollover_advanced_title {
            /*border-top: 1px solid #E5E5E5;*/
            margin: 12px 0;
            padding-top: 5px;
            font-weight: normal;
            font-size: 13px;
            color: #6E6E6E;
            float: left;
        }

        .rollover_advanced_options {
            list-style: none;
            margin: 0px;
            clear: both;
            overflow: hidden;

            .rollover_option_item {
                font-size: 13px;
                color: #6E6E6E;
                margin: 4px 3px 4px 0;
                width: 142px;
                float: left;

                .rollover_checkbox {
                   border: 1px solid #555;
                   background: #fff;
                   background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
                   .appearance(none);
                   .box-shadow( 1px, 1px, 1px, #fff );
                   .border-radius(0.25em);
                   display: inline-block;
                   font-size: 15px;
                   line-height: 1em;
                   margin: 0 5px 0 0;
                   padding: 0;
                   width: 1.25em;
                   height: 1.25em;
                   vertical-align: text-top;
                    
                }

                .rollover_checkbox:checked {
                    background: url('pix/tick.png') no-repeat center center;
                    .background-size(28px, 28px);
                }

                .rollover_checkbox:disabled {
                    border: 1px solid #eee;
                    .box-shadow( 0px, 0px, 1px, #fff );
                }
            }
        }

        .more_advanced_wrap {
            position:absolute;
            bottom: 40px;
            left: 90px;
            width: 60%;
            text-align: center;

            .more_advanced {
                position:relative;
                border-bottom: 1px solid #E5E5E5;
                color: #9A9A9A;
                font-size: 12px;
                cursor: pointer;
                
                .arrow_border {
                    border-color: #DBDBDB transparent transparent transparent;
                    border-style: solid;
                    border-width: 10px;
                    width:0px;
                    height:0px;
                    position:absolute;
                    left: 45%;
                    top: 16px;
                }

                .arrow_light {
                    border-color: #EEE transparent transparent transparent;
                    border-style: solid;
                    border-width: 10px;
                    width:0px;
                    height:0px;
                    position:absolute;
                    left: 45%;
                    top: 15px;
                }
            }

            .more_advanced:hover {
                border-bottom: 1px solid #D4D4D4;
                color: #6E6E6E;
                
                .arrow_border {
                    border-color: #D4D4D4 transparent transparent transparent;
                }
            }
        }
    }

    .pending {
     
       h3 {
            text-align: center;
            padding-top: 0px;
       }
    }

    .error {
        background: #FAD7D7;

        .arrow {
            border-color: transparent #FAD7D7 transparent transparent;
        }

        h3 {
            text-align: center;
            padding-top: 0px;
       }

       p {
            text-align: center;
       }
    }
}